<header class="navbar navbar-inverse normal" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand">{{ @swagger.info.title }}</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right visible-md visible-lg">
        <li>
          <a href={{githubURL}} class="button">Fork on Github</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
